/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Coiny', cursive;
  min-width: 475px;
}

h1 {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.search-bar {
  display: flex;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
}

.search-bar > #textbox {
  width: 200px;
  font-family: 'Comfortaa', cursive;
  margin-right: 20px;
  border: 1px solid;
  border-color: grey;
  border-radius: 5px;
}
.search-bar > #button {
  font-family: 'Comfortaa', cursive;
}

li {
  list-style-type: none;
  margin: 10px;
  max-width: 200px;
}

h4 {
  display: block;
  font-family: 'Comfortaa', cursive;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

h3 {
  display: flex;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
}
