<!DOCTYPE html>
<html>
  <head>
    <title>PicFinder</title>
    <%= csrf_meta_tags %>
    <style>
@import url('https://fonts.googleapis.com/css?family=Coiny|Comfortaa');
</style>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
